$icon-font-path: "/bower_components/sass-bootstrap/fonts/"

// @import 'sass-bootstrap/lib/bootstrap'

$bg-color: #334f5e
$green: #009c00
$red: #e51a22

@import compass/css3
@import compass/utilities

@import icons
@import trust
@import nav
@import preview
@import result

*
  +box-sizing(border-box)


body
  background-color: $bg-color

.nav,
.preview
  float: left

.nav
  width: 35%

.preview
  width: 65%


